{
  "project_info": {
    "project_number": "SEU_PROJECT_NUMBER",
    "project_id": "faleingles",
    "storage_bucket": "faleingles.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:SEU_PROJECT_NUMBER:android:SEU_APP_ID",
        "android_client_info": {
          "package_name": "br.com.faleingles"
        }
      },
      "oauth_client": [
        {
          "client_id": "SEU_WEB_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "SUA_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
